form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    
}   
/*submit*/
#submit {
    width: 50%;
    margin: auto;
}

#submit:hover {

    background-color: ;
    color:  ;
}

#comentario {
    height: 60px;
    
}

#buttom-1 {
    width: 15%;
    margin: auto;
}

#buttom-1 {
    background-color: ;
    color: ;
}

#label_name:focus {
    border-style: solid;
    outline: 0;
}

input {
    margin: 10px;
}

body {
    display: flex;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        color: #4B0082;
        justify-content: center;
}

div {
    background-color:	#edcaff;
    width: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    

}



