body {
    background-color: #e4e3cd;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    justify-content: left;
    overflow-x: hidden;

}
iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}
#footer {
    margin-bottom: -5px;
}

/* banner inicio*/
.sectionbn {
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*div slider*/
.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
/*responsavel pelo button*/
.slide {
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input {
    display: none;
}


.st {
    width: 20%;
    transition: 2s;
}

.st .imgbanner {
    width: 100%;
    height: 100%;
  
}

.nav-m{
   position: absolute;
   width: 800px;
   margin-top: 460px;
   justify-content: center;
   display: flex;
}

.m-btn{
    border: 2px solid #dcdcd9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child) {
    margin-right: 30px;
}

.m-btn:hover {
    background-color: #c004ff;
}

#radio1:checked ~.first {
    margin-left: 0;
}

#radio2:checked ~.first {
    margin-left: -20%;
}

#radio3:checked ~.first {
    margin-left: -40%; 
}

#radio4:checked ~.first {
    margin-left: -60%;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1 {
    background: #dcdcd9;
}

#radio2:checked ~ .nav-auto .a-b2 {
    background: #dcdcd9;
}

#radio3:checked ~ .nav-auto .a-b3 {
    background: #dcdcd9;
}

#radio4:checked ~ .nav-auto .a-b4 {
    background: #dcdcd9;
}

/* banner fim*/

a {
    text-decoration: none;
    color: var(--#ff0099);
}

/*mains*/

.main1 {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  
    
}

.main2  {
    display: flex;
   
    
}

.a0 p{
    background-color: purple;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.a3a4 {
    display: inline;
    width: 60%;
}

.main3 {
    display: flex;
    margin-top: -10px;
}

.a7a8 {
    display: inline;
    width: 20%;
    margin-left: 20px;
}


/*icons image*/
/* ion-icon {
    display: block;
} */


html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/*article 0 inicio */
.imgbanner {
    width: 100%;
    height: 100vh;
}

  /*article 0 fim */
.a1 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 70%;
}
/*img zoom inicio*/
.img1 {
    position: relative;
    overflow: hidden;
}

.bola {
    width: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img1 ~ .bola {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

/*img zoom fim*/

.a1:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a1text {
    background: var(--#ff0099);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
    margin-left: 20px;

}

.titlea1 {
    font-size: 20px;
    color: #ff0099;
    margin-bottom: 12px;
    line-height: 1.4;

}

.text1 {
    margin-bottom: 18px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter {
    display: flex;
    justify-content: space-between;
}

.autor1 {
    display: flex;
    align-items: center;
}
/*img do estudante*/
.joaoimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name1 {
    color: #ff0099;
}

.dia-publicacao {
    color: gray;
    opacity: 40%;
}

/*article 2 */
.a2 {
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 30%;
    margin: 20px;
    margin-top: auto;

}

.img2 {
    position: relative;
    overflow: hidden;
}

.vest {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img2 ~ .vest {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    /*img zoom fim*/

.a2:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a2text {
    background: var(--#cc00ff);
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    margin-left: 5px;

}

.titlea2 {
    font-size: 20px;
    color: #cc00ff;
    margin-top: -2px;
    line-height: 1.4;

}

.text2 {
    margin-top: -10px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter2 {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.autor2 {
    display: flex;
    align-items: center;
}
/*img do estudante*/
.mariaimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name2 {
    color: #cc00ff;
}

.dia-publicacao2 {
    color: gray;
    opacity: 40%;
}
    
/* fim article 2 */

/*inicio article 3*/

.a3 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 100%;
}
/*img zoom inicio*/
.img3 {
    position: relative;
    overflow: hidden;
}

.geo {
    width: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img3~ .geo {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

/*img zoom fim*/

.a3:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a3text {
    background: var(--#ca84fc);
    padding: 5px 15px;
    border-radius: 0 10px 10px 0;
    margin-left: 20px;

}

.titlea3 {
    font-size: 20px;
    color: #ca84fc;
    margin-bottom: 12px;
    line-height: 1.4;

}

.text3 {
    margin-bottom: 18px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter3 {
    display: flex;
    justify-content: space-between;
    
}

.autor3 {
    display: flex;
    align-items: center;
}
/*img do estudante*/
.guiimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name3 {
    color: #ca84fc;
}

.dia-publicacao3 {
    color: gray;
    opacity: 40%;
}

/* fim article 3 */
/* inicio article 4 */
.a4 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 100%;
    margin-top: 40px;
}
/*img zoom inicio*/
.img4 {
    position: relative;
    overflow: hidden;
}

.bio {
    width: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img4~ .bio {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

/*img zoom fim*/

.a4:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a4text {
    background: var(--#650c86);
    padding: 5px 15px;
    border-radius: 0 10px 10px 0;
    margin-left: 20px;

}

.titlea4 {
    font-size: 20px;
    color: #650c86;
    margin-bottom: 12px;
    line-height: 1.4;

}

.text4 {
    margin-bottom: 18px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter4 {
    display: flex;
    justify-content: space-between;
    
}

.autor4 {
    display: flex;
    align-items: center;
}
/*img do estudante*/
.doraimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name4 {
    color: #650c86;
}

.dia-publicacao4 {
    color: gray;
    opacity: 40%;
}

/*article 4 fim */

.a5 {
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 640px;
    width: 40%;
    margin: 20px;
    margin-top: auto;

}

.img5 {
    position: relative;
    overflow: hidden;
}

.inovação {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img5 ~ .inovação {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    /*img zoom fim*/

.a5:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a5text {
    background: var(--#800080);
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    margin-left: 5px;
    margin-top: 20px;

}

.titlea5 {
    font-size: 20px;
    color: #800080;
    margin-top: -2px;
    line-height: 1.4;

}

.text5 {
    margin-top: -10px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter5 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.autor5 {
    display: flex;
    align-items: center;
    
}
/*img do estudante*/
.nickolasimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    
}

.autor-name5 {
    color: purple;
}

.dia-publicacao5 {
    color: gray;
    opacity: 40%;
}
    
/* article 6 css */

.a6 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 80%;
    margin-top: 40px;
}
/*img zoom inicio*/
.img6 {
    position: relative;
    overflow: hidden;
}

.bola {
    width: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img6 ~ .bola {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

/*img zoom fim*/

.a6:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a6text {
    background: var(--#e70843);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
    margin-left: 20px;

}

.titlea6 {
    font-size: 20px;
    color: #e70843;
    margin-bottom: 12px;
    line-height: 1.4;

}

.text6 {
    margin-bottom: 18px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter6 {
    display: flex;
    justify-content: space-between;
}

.autor6 {
    display: flex;
    align-items: center;
}
/*img do estudante*/
.thaynaimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name6 {
    color: #e70843;
}

.dia-publicacao6 {
    color: gray;
    opacity: 40%;
}

/* article 7 css */

.a7 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 140px;
    width: 100%;
    align-items: center;   
    margin-top: 40px; 
}

.a7:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.lupacat {
    width: 100%px;
    height: 150px;
    margin-left: 10px;
}

.a8 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 140px;
    width: 100%;
    align-items: center;  
    margin-top: 20px;  
}

.a8:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}


.imgsn {
    width: 100%;
    height: 150px;
    margin-left: 10px;
}


