body {
    background-color: #e4e3cd;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    justify-content: left;



}

a {
    text-decoration: none;
    color: var(--#ff0099);
}

/*mains*/

.main1 {
    display: flex;
}

.main2  {
    display: flex;
}

.a3a4 {
    display: inline;
    width: 60%;
}



/*icons image*/
/* ion-icon {
    display: block;
} */


html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.a1 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 70%;
}
/*img zoom inicio*/
.img1 {
    position: relative;
    overflow: hidden;
}

.bola {
    width: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img1 ~ .bola {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

/*img zoom fim*/

.a1:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a1text {
    background: var(--#ff0099);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
    margin-left: 20px;

}

.titlea1 {
    font-size: 20px;
    color: #ff0099;
    margin-bottom: 12px;
    line-height: 1.4;

}

.text1 {
    margin-bottom: 18px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter {
    display: flex;
    justify-content: space-between;
}

.autor1 {
    display: flex;
    align-items: center;
}

.joaoimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name1 {
    color: #ff0099;
}

.dia-publicacao {
    color: gray;
    opacity: 40%;
}

/*article 2 */
.a2 {
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 30%;
    margin: 20px;

}

.img2 {
    position: relative;
    overflow: hidden;
}

.vest {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img2 ~ .vest {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    /*img zoom fim*/

.a2:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a2text {
    background: var(--#cc00ff);
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    margin-left: 5px;

}

.titlea2 {
    font-size: 20px;
    color: #cc00ff;
    margin-top: -2px;
    line-height: 1.4;

}

.text2 {
    margin-top: -10px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter2 {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.autor2 {
    display: flex;
    align-items: center;
}

.mariaimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name2 {
    color: #cc00ff;
}

.dia-publicacao2 {
    color: gray;
    opacity: 40%;
}
    
/* fim article 2 */

/*inicio article 3*/

.a3 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 100%;
}
/*img zoom inicio*/
.img3 {
    position: relative;
    overflow: hidden;
}

.geo {
    width: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img3~ .geo {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

/*img zoom fim*/

.a3:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a3text {
    background: var(--#ca84fc);
    padding: 5px 15px;
    border-radius: 0 10px 10px 0;
    margin-left: 20px;

}

.titlea3 {
    font-size: 20px;
    color: #ca84fc;
    margin-bottom: 12px;
    line-height: 1.4;

}

.text3 {
    margin-bottom: 18px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter3 {
    display: flex;
    justify-content: space-between;
    
}

.autor3 {
    display: flex;
    align-items: center;
}

.guiimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name3 {
    color: #ca84fc;
}

.dia-publicacao3 {
    color: gray;
    opacity: 40%;
}

/* fim article 3 */
/* inicio article 4 */
.a4 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
    width: 100%;
    margin-top: 40px;
}
/*img zoom inicio*/
.img4 {
    position: relative;
    overflow: hidden;
}

.bio {
    width: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img4~ .bio {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

/*img zoom fim*/

.a4:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a4text {
    background: var(--#ca84fc);
    padding: 5px 15px;
    border-radius: 0 10px 10px 0;
    margin-left: 20px;

}

.titlea4 {
    font-size: 20px;
    color: #ca84fc;
    margin-bottom: 12px;
    line-height: 1.4;

}

.text4 {
    margin-bottom: 18px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter4 {
    display: flex;
    justify-content: space-between;
    
}

.autor4 {
    display: flex;
    align-items: center;
}

.doraimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name4 {
    color: #ca84fc;
}

.dia-publicacao4 {
    color: gray;
    opacity: 40%;
}

/*article 4 fim */

.a5 {
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 600px;
    width: 40%;
    margin: 20px;

}

.img5 {
    position: relative;
    overflow: hidden;
}

.inovação {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img5 ~ .inovação {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    /*img zoom fim*/

.a5:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a5text {
    background: var(--#cc00ff);
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    margin-left: 5px;

}

.titlea5 {
    font-size: 20px;
    color: #cc00ff;
    margin-top: -2px;
    line-height: 1.4;

}

.text5 {
    margin-top: -10px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter5 {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.autor5 {
    display: flex;
    align-items: center;
}

.nickolasimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name5 {
    color: #cc00ff;
}

.dia-publicacao5 {
    color: gray;
    opacity: 40%;
}
    