body {
    background-color: #e4e3cd;
    margin: 0;
    padding: 20px;
    display: flex;
    min-height: 100vh;
    justify-content: left;


}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/*icons image*/
/* ion-icon {
    display: block;
} */

#ionicon {
    display: block;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.a1 {
    display: grid;
    /*posicionamento*/
    grid-template-columns: 300px minmax(300px, 445px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(109, 109, 109, 0.75);
    height: 300px;
}
/*img zoom inicio*/
.img1 {
    position: relative;
    overflow: hidden;
}

.bola {
    width: 300px;
    object-fit: cover;
    object-position: left;
    transition: 0, 5s;
    border-radius: 10px;

}

.img1 ~ .bola {
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

/*img zoom fim*/

.a1:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.a1text {
    background: var(--white);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
    margin-left: 20px;

}

.titlea1 {
    font-size: 20px;
    color: #ff0099;
    margin-bottom: 12px;
    line-height: 1.4;

}

.text1 {
    margin-bottom: 18px;
    color: black;
    line-height: 1.5;
    align-items: center;
}

.contentfooter {
    display: flex;
    justify-content: space-between;
}

.autor1 {
    display: flex;
    align-items: center;
}

.joaoimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.autor-name1 {
    color: #ff0099;
    font-size: var(--fs-13);
}

.dia-publicacao {
    color: gray;
    opacity: 40%;
}

.compartilhar1 {
    position: relative;

}

.compartilhar-button {
    padding: 6px;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.25 ease;
}

.compartilhar-button:hover, .compartilhar-button.active {
    background-color: #ff0099;
}

.share-option {
    scale: 1;
    --translateX: -50%;
    --translateY: 0;
    background: var(#ff0099);
    position: absolute;
    bottom: calc(100% + 28px);
    left: 50%;
    transform: translate(var(--translateX), var (--translateY)) scale(var(--scale));
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 17px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px -5px #0003;
    transform-origin: bottom;
    visibility: hidden;
    transition: all 0.25s ease; 
}

.share-option.active {
    scale: 1;
    visibility: visible;
}

.share-option::after {
    content: '';
    background: #ff0099;
    width: 20px;
    height: 20px;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
}

.share-option span {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: darkmagenta;
    margin-right: 5px;
}

.share-option #ionicon {
    font-size: 22px;
}
