/* body */
body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art1 {
    background-color: mediumvioletred;
    margin: 90%;
    padding: 90%;
    height: 30%;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    /* pra não sair da visao de tela */
    overflow: hidden;
}