/*Configurações Gerais*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

/*Article 1*/
#noticiaprincipal {
    align-items: center;
}

/*Article 1 Texto*/
h1 {
    text-align: center;
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

/*Article 1 Imagem*/
#fotoenem {
    width: 80%;
    border-radius: 10px;
    border: 5px outset #ffffff;
}

#fotoprincipal {
    background-color: #7657b2;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    -moz-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    width: 30%;

}

#foto {
    text-align: center;
}

/*Article 1 Texto Resumo*/
h2 {
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#resumotema {
    margin: 20px;
    width: 50%;
}
p {
    line-height: 35px;
}

/*Article 2*/
article {
    display: flex;
    margin: 20px;
}
#ultimasnoticias {
    display: flex;
    flex-direction: column;
    background-color: #7657b2;
    margin: 20px;
    border-radius: 10px;
}
.h1ultimasnoticias {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
}
#h1texto {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}
.sectionultimasnoticias {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
}
img {
    border-radius: 10px;
    margin: 5px;
}
#h2eltimasnoticias {
    color: #7657b2;
    margin-left: 15px;
}
#ultimasnoticiasfotos {
    width: 10%;
}
.div {
height: ;
}