body {
    background-color: #edcaff;
    margin: 0;
    padding: 0;
}

#img {
    width: 150px;
    height: 150px;
    border-radius: 52%;
    margin: 50px;
}

.center {
    text-align: center;
    margin: 10px;
}

h1{
    text-align: center;
    color: purple;
}

iframe {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

#footer {
    margin-bottom: -5px;
}

a {
    text-decoration: none;
    color: purple;

}

a:hover {
    background-color: blueviolet;
    color: #edcaff;
    border-radius: 3px;
}