body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p{
    margin: 20px;
    text-align: justify;
    line-height: 30px;
}

.subtitulo{
    text-align: left;
    margin: 5px;
    color: #3b3169;
    font-family: serif;
    text-align: center;
}

/*Configurações Section hobbie*/
.section2{
    background-color: #edcaff;
    border-radius: 10px;
    margin-right: 25px;
    box-shadow: 10px 10px 36px --13px rgba(82, 65, 109, 1);
    border-left: 6px solid #52416d;
}