<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <footer>
        <article>
            <section>
                <div>
                    <a target="_blank" href="https://linktr.ee/nickolasliea77?utm_source=linktree_profile_share&ltsid=6066f8ea-846a-4d8d-8f29-684680e02b43">
                        <img src="../assets/images/logowhite.png.png" alt="Logo da Equipe">
                    </a>
                    <p  id="escrita">Todos os Direitos Reservados © 2023</p>
                </div>
            </section>
            <section>
                <div>
                    <a href="../index.html">
                        <h1>Ínicio</h1>
                    </a>
                    <a href="../pages/categorias.html">
                        <p>Categorias</p>
                    </a>
                </div>
                <h1>|</h1>
                <div>
                    <a href="../pages/sobrenos.html">
                        <h1>Equipe</h1>
                    </a>
                    <a href="../pages/inicioextra.html">
                        <p>Patrocínio</p>
                    </a>
                </div>
                <h1>|</h1>
                <div>
                    <a href="../pages/feedback.html">
                        <h1>Feedback</h1>
                    </a>
                    <a href="../pages/formulario.html">
                        <p>Contato</p>
                    </a>
                </div>
            </section>
        </article>
    </footer>
</body>

</html>