/*Configurações Gerais*/
body {
    margin: 0%;
    padding: 0%;
}

/*Configurações Footer Principal*/
footer {
    background-color: #7657b2;
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
/*Configurações Escrita*/
p {
    color: white;
}

/*Link e Imagem do Linktree*/
#linktree {
    width: 5%;
}