body {
    margin: 0%;
    padding: 0%;
}

footer {
    background-color: #7657b2;
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

#linktree {
    width: 5%;
}

p {
    color: white;
}