/*Configurações Gerais*/
body {
    font-family: Arial, sans-serif;
    margin: 0%;
}

header {
    background-color: #7657b2;
    display: flex;
}

img {
    width: 15%;
    margin: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    display: flex;
}

li {
    margin: 20px;
    list-style-type: none;
}

h3:hover {
    background-color: white;
    color: #7657b2;
   border-radius: 3px;
}