/*Configurações Gerais*/
body {
    font-family: Arial, sans-serif;
    margin: 0%;
}
main {
    padding: 10px;
}

/*Configurações Header Principal*/
header {
    background-color: #7657b2;
    padding: 10px;
    display: flex;
}

/*Configurações Header Principal(Botão NavBar)*/
#navbar {
    display: inline;
}
.abrir {
    color: white;
    font-size: 25px;
}

/*Configurações Header Principal(Logo da Equipe)*/
#logo {
    text-align: center;
}
#imagemlogo {
    width: 7%;
}

/*Configurações NavBar*/
a {
    text-decoration: none;
}
nav {
    height: 100%;
    width: 0%;
    background-color: #7657b2;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    overflow: hidden;
    transition: width 1s;
}
nav a {
    color: white;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
}
nav a:hover {
    color: #7657b2;
    background-color: white;
}
