<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layouts/header.css">
</head>

<body>
    <header>
        <div id="navbar" >
            <a href="#" class="abrir" onclick="abrirmenu()">&#9776;</a>
        </div>
        <div id="logo">
            <img id="imagemlogo" src="../assets/images/logowhite.png.png" alt="Logo da equipe">
        </div>
    </header>
    <nav id="menu">
        <a href="#" onclick="fechar()">&times; Fechar</a>
        <a href="#">pagina1</a>
        <a href="#">pagina2</a>
        <a href="#">pagina3</a>
        <a href="#">pagina4</a>
        <a href="#">pagina5</a>
    </nav>
    <script>
        function abrirmenu() {
            document.getElementById('menu').style.width = '20%';
        }

        function fechar() {
            document.getElementById('menu').style.width = '0%';
        }
    </script>
</body>

</html>