<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layouts/header.css">
</head>

<body>
    <!--Header-->
    <header>
        <!--Logo Equipe-->
        <a href="../index.html">
            <img src="../assets/images/logowhite.png.png" alt="Logo da equipe">
        </a>
        <div id="navbar">
            <!--NavBar-->
        <ul>
            <li><a href="../index.html" target="_parent"><h3>Início</h3></a></li>
            <li><a href="../pages/categorias.html" target="_parent"><h3>Categorias</h3></a></li>
            <li><a href="../pages/sobrenos.html" target="_parent"><h3>Equipe</h3></a></li>
            <li><a href="../pages/inicioextra.html" target="_parent"><h3>Hefester</h3></a></li>
            <li><a href="../pages/formulario.html" target="_parent"><h3>Contato</h3></a></li>
            <li><a href="../pages/feedback.html" target="_parent"><h3>Feedback</h3></a></li>
        </ul>
    </div>
    </header>
</body>

</html>